
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*/


  /* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap'); */

  /* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&family=Rubik+Microbe&display=swap'); */


  @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&family=Rubik+Microbe&display=swap');




html, body {
  height:100vh;
  width:100vw;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Red Hat Display', sans-serif; */
  
  /* font-family: 'Red Hat Display', sans-serif;
font-family: 'Rubik Microbe', cursive; */

  font-family: 'Red Hat Display', sans-serif;
font-family: 'Rubik Microbe', cursive;
  
  color:#32c3c0;
  background-color: #192a32;
}

.container{
text-align:center;
  /* height:100vh;
  width:100vw; */
}

.board{
  display:grid;
  justify-content:center;
  align-content:center;
  grid-template-columns: repeat(3,auto);
}

.cell{
  height:100px;
  width:100px;
  border:2px #f0b239 solid;
  font-size:80px;
  cursor:pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top:none;
}

.cell:nth-child(3n+1){
  border-left:none;
}

.cell:nth-child(3n+3){
  border-right:none;
}

.cell:nth-child(9),
.cell:nth-child(7),
.cell:nth-child(8){
  border-bottom:none;
}
h1{
  font-size: 50px;
}
.btnDivs button{
  height:50px ;
  padding:10px;
  border-radius:5px;
  color:#f0b239;
  margin-top: 10px;
  background-color:#192a32;
  font-size: 20px;
  /* font-family: 'Lobster', cursive;*/
  font-family: 'Red Hat Display', sans-serif;
}

.messageStatus, .btnDivs{
  margin: 20px;
   
}
